h1,h2,h3,h4,h5,h6{
    color: rgb(239, 239, 244);
    background-color: rgb(3, 3, 50);
    width: 20%;
    text-align: center;
    padding: 20px;
    display: inline-block;
    border: 2px solid blue;
    border-radius: 0px 40px;
    box-shadow: 10px 0px 20px gray;
    margin: 20px;
    
}
body{
    background-color: aqua;
}
