*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    height:100vh;
}
.header{
    height: 15%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header>img{
    width: 5vw;
}
.header>img:hover{
    transform: scale(1.1);
}
.menu{
    margin-right: 20px;
    display: flex;
    gap: 20px;
}
.menu>a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.menu>a:hover{
    color: rgb(227, 16, 48);
}
.main{
    margin-top: 10px;
    display: flex;
    gap : 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.bike{
    border: 1px solid black; 
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}
.bike>img{
    width: 20vw;
}
.bike>img:hover{
    transform: scale(1.1);
}
.footer{
    margin-top: 10px;
    height: 10%;
    border: 1px solid black;
    background-color: rgb(47, 43, 43);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}